---
export const prerender = false
import Layout from "../layouts/Layout.astro"
const currentTime = new Date().toLocaleTimeString();
Astro.response.headers.set('Cache-Control', 'public, s-maxage=3600, stale-while-revalidate=600');
// Astro.response.headers.set("Cache-Control", "public, max-age=3600, s-maxage=3600");
---
<Layout title="tal">
  <h1>The current time is: {currentTime}</h1>
</Layout>
